html
    head
    body
        br
        br
        br
        br
        br
        br
        br
        br
        div(style="text-align:center")
            h1 Hi 傻狗！
        include includetest
