html
head
title 插件管理
link(rel='stylesheet' href='stylesheets/style.css')
body
p 欢迎来到插件管理
br
br
br
div
    button 查找插件
    br
    br
    button 新增插件
    
table
    caption 插件列表
    tr
        th 序号
        th 插件名称
        th 插件描述
        th(colspan="2") 操作类型
    tr
        td 001
        td dosattack
        td 这个插件防止dos攻击
        td
            a(href="#") 删除
        td
            a(href="#") 修改
    tr
        td 002
        td limitspeed
        td 这个插件可以进行限速
        td
            a(href="#") 删除
        td
            a(href="#") 修改
    tr
        td 003
        td portal
        td 该插件负责portal相关功能
        td
            a(href="#") 删除
        td
            a(href="#") 修改
