html
    head
        title 查找插件
        link(rel='stylesheet' href='/stylesheets/style.css')
    body
        div.place
            span 位置：
            ul.placeul
                li
                    a 插件管理
                li
                    a 插件查找
        br
        br
        br
        div.contentcenter
            p 请输入要查找的插件名称。
            br
            br
            h4 查找插件
            br
            form(method='post' action='/plugin/queryPluginByName')
                div.form-row
                    label 插件名称：
                    input(type='text' name='plugname')
                    |&nbsp;&nbsp;&nbsp;
                    input(type='submit' value='查找').saveandcancle
