html
    head
        title 设备服务详细表
        link(rel='stylesheet' href='/stylesheets/style.css')
        script(type='text/javascript' src='/javascripts/jquery-1.11.2.min.js')
        script.
            alert("aaaaa");
            $(function() {
                alert("bbbbb");

                
                $('#save').click(function(event) {
                    alert("tijiao");
                    $.post('/testpost/do', {
                    }, function(rtndata, stas) {
                        //alert(rtndata.rowCount);
                        if(rtndata.rowCount > 0){
                            alert("操作成功");
                            location.reload(true);
                        } else {
                            alert("没有改变");
                        }
                    });
                });

                $('#reset').click(function(event) {
                    location.reload(true);
                });


            });
    body
        p 欢迎来到设备服务页面，该页面显示对应设备的服务信息
        br
        br
        br
        br
        br
        div.saveandcancle
            button(id="save").saveandcancle 保存
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            button(id="reset").saveandcancle 取消

