html
    head
        meta(charset="utf-8")
        link(rel='stylesheet' href='/stylesheets/style.css')
        script(type='text/javascript' src='/javascripts/jquery-1.11.2.min.js')
    body.topbd
        div.topright
            ul.topright
                li.topright
                    a(href="#")
                        img.topright(src="/images/tel.png")
                        p.topright 联系我们
                li.topright
                    a(href="#")
                        img.topright(src="/images/logout.png")
                        p.topright 退出
