<html>
  <head>
    <meta http-equiv="charset" content="utf-8" />
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type='text/javascript' src='/javascripts/jquery-1.11.2.min.js'>
    </script>
  </head>
  <body class='topbd'>
    <div class='topright'>
      <ul class='topright'>
        <li class='topright'>
          <a href="http://www.phicomm.com/cn/" target="_top">
            <img class='topright' src="/images/tel.png">
            </img>
            <p class='topright'>联系我们
            </p>
          </a>
        </li>

        <li class='topright'>
          <a href="/quit" target="_top">
            <img class='topright' src="/images/logout.png">
            </img>
            <p class='topright'>退出
            </p>
          </a>
        </li>  
      </ul>
    </div>
  </body>
</html>
