<html>
    <head>
        <title>欢迎来到后台管理系统</title>
        <meta charset="utf-8"/>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <script type='text/javascript' src='/javascripts/jquery-1.11.2.min.js'></script>
        <script type='text/javascript'>
            $(function() {
                $('#equiplist').click(function(event) {
                    alert('设备列表');
                    event.preventDefault();
                    $('#content').load('content.jade');
                });
            });
        </script>
    </head>
    <frameset rows="67,*,30" cols="*" frameborder="no" border="0" faramespacing="0">
        <frame src="top" name="topFrame" scrolling="no" noresize="noresize" style="background-color:#FFA500;"/>
        <frameset cols="187,*" frameborder="no" border="0" faramespacing="0">
            <frame src="left" name="leftFrame" scrolling="no" noresize="noresize" style="background-color:#FFD700;"/>
            <frame src="content" name="rightFrame" noresize="noresize" scrolling="no" style="background-color:#EEEEEE;"/>
        </frameset>
        <frame src="bottom" name="bottomFrame" scrolling="no" noresize="noresize" style="background-color:#FFA500;"/>
    
        <noframes>
            <body>
            </body>
        </noframes>
    </frameset>
</html>
