/*底部返回按钮开始*/
.bigBackBtn{
    position: fixed;
    bottom: 20px;
    right: 30px;
    background: #2dc3e8;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    font-size: 12px;
    color: white;
    opacity: 1;
}
.bigBackBtn:hover{
    opacity:1;
    border: 1px solid deepskyblue;
    bottom: 19px;
    right: 29px;
    background: deepskyblue;
}
/*底部返回按钮结束*/


/*禁止文字选中*/
.fobidSelect{
    -moz-user-select:none;/*火狐*/

    -webkit-user-select:none;/*webkit浏览器*/

    -ms-user-select:none;/*IE10*/

    -khtml-user-select:none;/*早期浏览器*/

    user-select:none;
}
